# Server configuration
PORT=3001
API_ROUTE=/api
LOG_REQUESTS=false

# Database configuration
GOOGLE_APPLICATION_CREDENTIALS=
DB_SCHEMA=app_demo

# Rate limiting configuration
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
RATE_LIMIT_MESSAGE=Too many requests from this IP, please try again later.
